/* pallette
bg:2b2d42
fg:8d99ae
highlight:ef233c
*/

body {
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
}

a {
  color: #ef233c;
}

.container {
  width: 80%;
  margin: auto;
}

.profile-wrapper img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.profile-wrapper span {
  background: rgba(255, 0, 0, 0.534);
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 25px;
  /* margin-left: -20px; */
  /* margin-bottom: -50px; */
}

.profile-wrapper {
  /* display: grid;
  place-items: center; */
  position: relative;
}

.user-log {
  display: flex;
}
.user-log > div {
  flex: 1;
}
#logout-button {
  margin-bottom: 50px;
}
.time-picker-container {
  display: flex;
  justify-content: flex-end;
}
.time-picker-container > * {
  /* flex: 1; */
}
.remarks-text-box {
  width: 100%;
  font-size: 2em;
  padding: 0.5em;
  margin-bottom: 1em;
}

nav {
  display: flex;
  justify-content: flex-end;
  vertical-align: center;
}

nav a {
  text-decoration: none;
  padding: 2em;
  color: green;
}

nav a:hover {
  color: #fff;
}
/* 
.time-form-container form {
  display: flex;
}
.time-form-container > input[type="text"] {
  flex: 1;
  padding: 1em;
  font-size: large;
}

.user-log div {
  margin-right: 1em;
}

.user-log {
  display: flex;
}

.user-log > div + div {
  flex: 1;
} */

/* #login-form {
  width: 50%;
  margin: auto;
}
#login-form > div {
  display: flex;
}
#login-form > div input {
  padding: 5px;
  font-size: 2em;
}

#login-form > div input[type="text"] {
  flex: 1;
} */
